<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  
  <main class="not-found-page center-contents">
    <div class="text-center">
      <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdmRpbXp3cDZvZ3JpMG4yZ2VkMTcxOTFsODZ3Z2IzeDR2eDRtbTd3cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/GwpkIPHpxCbz6mTi7B/giphy.gif" alt="Magnifying glass GIF">
      <h1>Page not found!</h1>
      <a href="/">Back to home</a>
    </div>
  </main>
</body>
</html>