<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | General Eye</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <main class="center-contents">
    <div class="text-center">
      <img src="https://res.cloudinary.com/dg6jhfncj/image/upload/v1744647892/eye-icon-eye-icon-illustration-with-transparent-background-png_tzmtny.png" alt="Image of an eye">
      <h1>General Eye</h1>
    </div>
  </main>
</body>
</html>