<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articles | General Eye</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <%- include('../partials/nav.ejs') %>

  <main>
    <h1 class="text-center">All Articles</h1>
    <section class="articles">
      <% articles.forEach(article => { %>
        <article>
          <a href="/articles/<%= article._id %>">
            <img src="https://picsum.photos/seed/<%= article._id %>/200/200" alt="Random image for article thumbnail">
            <h2><%= article.title %></h2>
          </a>
        </article>
      <% }) %>
    </section>
  </main>
</body>
</html>